@import url('https://fonts.googleapis.com/css2?family=Jua&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root{
    --Roboto: 'Roboto', sans-serif;
    --liver: #60463bff;
    --old-gold: #bfae48ff;
    --glaucous: #6184d8ff;
    --folly: #ff1654ff;
    --fluorescent-cyan: #61e8e1ff;
}

body{
    color: var(--fluorescent-cyan);
    font-family: var(--Roboto);
    background-color: var(--liver);
    display: flex;
    justify-content: center;
}

.container{
    text-align: center;
    margin-top: 20px;
}
.playername h1{
    font-size: 2rem;
    cursor: pointer;
    margin-bottom: 10px;
    transition: all 0.3s ease;
}

.playername h1:hover{
    text-shadow:8px 8px 8px black ;
    color: white;
}

.resource{
    background-color: var(--folly);
    margin-bottom: 10px;
    padding: 10px;
    border-radius: 20px;
}

.resource p{
    font-size: 1.5rem;
    margin-bottom: 10px;
}

.resource span{
    font-weight: 700;
}

.button_container{
    display: flex;
    justify-content: space-between;
    gap: 10px;
}
.button_container button{
    border: none;
    width: 100px;
    height: 50px;
    border-radius: 10px;
    background-color: var(--glaucous);
    color: var(--liver);
    font-weight: 800;
    font-size: 2rem;
    cursor: pointer;
    transition: all 0.3s ease;
}

.button_container button:hover{
    background-color: var(--liver);
    color: var(--glaucous);
}

.button_container button:active{
    background-color: var(--fluorescent-cyan);
    color: var(--liver);
}
.Playernamechange{
    display: flex;
    flex-direction: column;
}
.Playernamechange input{
    padding: 8px;
    align-self: center;
    border: none;
    outline: none;
    border-radius: 10px;

}
.Playernamechange button{
    width: 100px;
    height: 50px;
    border-radius: 10px;
    background-color: var(--glaucous);
    color: var(--liver);
    font-weight: 800;
    font-size: 2rem;
    cursor: pointer;
    transition: all 0.3s ease;
    align-self:center;
    border: none;
    margin: 10px;
}
.Playernamechange button:hover{
    background-color: var(--old-gold);
    color: var(--glaucous);
}
.NextRound{
    border: none;
    width: 100px;
    height: 50px;
    border-radius: 10px;
    background-color: var(--old-gold);
    color: var(--liver);
    font-weight: 800;
    font-size: 2rem;
    cursor: pointer;
    transition: all 0.3s ease;
}